
<div class="control-group">
  <%= builder.label :university_name,:class=>"control-label" %>
  <div class="controls">
    <%= builder.text_field :name %>
   </div> 
</div>
<div class="control-group">
  <%= builder.label :degree,:class=>"control-label" %>
  <div class="controls">
    <%= builder.text_field :degree %>
   </div> 
</div>
<div class="control-group">
  <%= builder.label :course,:class=>"control-label" %>
  <div class="controls">
    <%= builder.text_field :course %>
   </div> 
</div>
<div class="control-group">
  <%= builder.label "Duration",:class=>"control-label" %>
  <div class="controls">
    <%=  builder.select :start_date ,options_for_select(options_for_education_year,builder.object.start_date.try(:to_i)),{:prompt=>"-YY-"}%> TO
   <%=  builder.select :end_date ,options_for_select(options_for_education_year,builder.object.end_date.try(:to_i)),{:prompt=>"-YY-"}%>
   </div> 
</div>
<div class="control-group">
  <%= builder.label :grade,:class=>"control-label" %>
  <div class="controls">
    <%= builder.text_field :grade %>
   </div> 
</div>
<div class="control-group">
  <div class="controls">    
    <%= builder.link_to_remove "Remove this Education" ,:class=>'btn' %>
   </div>
</div>    
