<div class="control-group">
  <%= builder.label :name,:class=>"control-label" %>
  <div class="controls">
    <%= builder.text_field :name %>
   </div> 
</div>
<div class="control-group">
  <%= builder.label :University,:class=>"control-label" %>
  <div class="controls">
    <%= builder.collection_select :university_profile_id,@universities,:id,:name %>
   </div> 
</div>
<div class="control-group">
  <%= builder.label :gender,:class=>"control-label" %>
  <div class="controls">

    <%= builder.radio_button :gender,"male" %> <span>Male</span>
    <%= builder.radio_button :gender,"female" %> Female</span>
   </div> 

</div>

<div class="control-group">
  <label class="control-label">Are You Alumni?</label>
  <label class="controls">
    <%= f.check_box :alumni %>
  </label>
</div>  
<div class="control-group <%= set_display_class(@user) %>" id="passing_year">
  <%= builder.label :year_of_passing,:class=>"control-label" %>
  <div class="controls">
    <%= builder.select :year_of_passing,options_for_select(options_for_education_year,builder.object.year_of_passing.try(:to_i)),{:prompt=>"-YY-"} %>
   </div> 
</div>

<div class="control-group <%= set_year_class(@user) %>" id="current_year">
  <%= builder.label :year,:class=>"control-label" %>
  <div class="controls">
    <%= builder.text_field :current_year %>
   </div> 
</div>
