
<div class='page-header'>
  <div class='pull-right'>
    <% if @user.id == current_user.id %>
      <%= link_to "Edit Profile",edit_profile_path,:class=>'btn btn-primary btn-medium custom-visted' %>
    <% end %>
   
  </div> 
    <h1><%= @user.name %> Profile</h1>
</div>  
<div>
  <div class="span1 thumbnail" style="margin-right:15px">
    <%# user_img = user.avatar.url.include?("missing.png") ? "/assets/default_user.png" : user.avatar.url(:thumb) %>
    <%=h image_tag("default_user.png") %>
  </div>

  <div class="user-profile-details" >
    <div>  
      <div>
        <%= @user.name %><%= " ( #{@user.objective.title} )" if @user.objective && @user.objective.title%>
      </div>
      <div>
        <%= @user.user_info.university_profile.try(:name) %>
      </div>
      
       <div><%=education_info(@user.user_info)%></div>
    </div>
    <div>  
      
      <div class="title-text">Summary:</div>      
      <div class="title-body">
        <%= markdown(@user.objective.objective) if @user.objective %>
      </div>
    
    </div>
    
  </div>
</div>
