
 <div class='well div-center width500'>
  <h3>Login</h3>
   
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <%= f.label :email,:class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>

    <%= f.label :password,:class=>'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
    
  <% if devise_mapping.rememberable? -%>
   <br/>
         <label class='checkbox'>
         <%= f.check_box :remember_me %> Remember me
       </label>
 
  <% end -%>


    <%= f.submit "Sign in",:class => 'btn btn-primary' %>
   <%#= link_to 'Cancel', "#", :class => 'btn' %>
 
<% end %>

<%= render "devise/links" %>
</div>
